{% extends 'website/template.html' %}
{% load i18n static %}


{% block title %}Godmode{% endblock %}
{% block content %}
    <div class="app-link-container">
        <div class="app-link">
            <h2 class="app-title">{% translate "Palabra del Día Solver" %}</h2>
            <p class="app-description">
                {% blocktrans %}
                    Helping you guess the word of the day from <a href="https://lapalabradeldia.com/" target="_blank">La Palabra del Día</a>. You can cheat your way to the victory right from the start, but we suggest only getting help when you're close to losing the game!
                {% endblocktrans %}
            </p>
            <a href="{% url 'palabradeldia:index' %}" class="app-button">{% translate "Start Solving" %}</a>
        </div>
        <div class="app-link">
            <h2 class="app-title">{% translate "Breeding Simulator for Rust" %}</h2>
            <p class="app-description">
                {% blocktrans %}
                    Wanna breed the perfect plant genotype in <a href="https://store.steampowered.com/app/252490/Rust/" target="_blank">Rust</a>? Check out our simulator that tries all combinations, finds the best one, and gives you the instructions on what plants to cross to get there.
                {% endblocktrans %}
            </p>
            <a href="{% url 'breedrust:index' %}" class="app-button">{% translate "Run Simulator" %}</a>
        </div>
    </div> 
{% endblock %}