body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .site-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .site-name a {
    text-decoration: none;
  }
  
  .site-name a:visited {
    color: #fff;
  }
  
  header .language-switcher {
    margin-right: 20px;
  }
  
  header .language-switcher select {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px;
  }
  
  header .language-switcher input[type="submit"] {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  header .language-switcher input[type="submit"]:hover {
    background-color: #555;
  }
  
  #content {
    padding: 0 10px;
  }
  
.app-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 35px;
}

.app-link {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 8px;
  color: #333;
  max-width: 250px;
  padding: 15px;
  text-align: center;
}

.app-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.app-description {
  font-size: 14px;
  margin-bottom: 15px;
}

.app-description a {
  color: #333;
  text-decoration: underline;
}

.app-button {
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.app-button:hover {
  background-color: #ddd;
}
  