{% extends 'website/template.html' %}
{% load i18n static %}
{% load static %}

{% block title %}{% translate "Let's solve la Palabra del Día!" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'palabradeldia/styles.css' %}">
    <script>
        let words = JSON.parse('{{ words|safe }}');
    </script>
    <script src="{% static 'palabradeldia/script.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="game">
        <div id="rows">
            {% for i in "123456" %}
            <div class="row{% if forloop.counter|add:'-1' > 0 %} hidden{% endif %}{% if forloop.counter|add:'-1' == 0 %} visible{% endif %}" id="row{{ i }}">
                {% for j in "12345" %}
                <input type="text" class="cell" id="cell{{ i }}{{ j }}" maxlength="1">
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div id="instructions"></div>
        <button id="suggestButton" onclick="suggestWord()">{% translate "Suggest a Word" %}</button>
        <div id="more-options" class="hidden">
            <h3>{% translate "More Options" %}</h3>
            <select id="wordSelect" style="width: 214px;"></select>
        </div>
    </div>
    <div id="messages" class="hidden-text">
        <span id="type" class="hidden">{% translate "Type a word or click the button" %}</span>
        <span id="color" class="hidden">{% translate "Click on letters to change colors" %}</span>
        <span id="none-left" class="hidden">{% translate "No words satisfy the conditions" %}</span>
        <span id="game-over" class="hidden">{% translate "That was the last attempt" %}</span>
        <span id="try-again" class="hidden">{% translate "Try Again?" %}</span>
        <span id="most-recent-instruction" class="hidden"></span>
    </div>
{% endblock %}