.dictionary-button {
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially not visible */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background-color 0.3s; /* Add transition for visibility and opacity */
}

.dictionary-button.visible {
    opacity: 1;
    visibility: visible;
}

.dictionary-button:hover {
    background-color: darkorange;
}

.dictionary-section {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.dictionary-section.visible {
    opacity: 1;
    transform: scale(1);
    max-height: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.close-button {
    position: absolute;
    right: 4px;
    top: 5px;
    background-color: orange;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
